html{
    height: 100%;
    
}

body{
    background: url('./images/blackMarmore.jpg') no-repeat center fixed;
    background-size: cover;
    justify-content: center;
    margin: 0px;
    border: aliceblue 1px solid;
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 100%;
    min-height: 449px;
    
    


}

.bloco{
    
    border: black 1px solid;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0.5px white;
   
    margin-top: 5%;
    margin-bottom: 5%;
   
    height: 84%;
    width: 50%; 

    min-width: 340px;
    min-height: 400px;
    max-width: 500px;

    background: url('./images/darkclareado.jpg') fixed repeat center;
    background-size: contain;
    background-clip: border-box;
    
   
}

.display{
    color: white;
    margin-left: 45%;
}
